header
  position: sticky
  top: 0
  z-index: 1
  background: var(--theme)
  .menu
    &>li
      width: 40px
      height: 40px
      overflow: hidden
      position relative
      border-radius: 5px
      svg
        position: absolute
        top: -38px
        left: 0
    &>li:hover
      svg
        top: -75.7px