
<h3>「 关于我  」</h3>
<p>你可以叫我： 咩阿 <span class="cut"></span> Lorre  </br>
  来自羊城广州
</p>
<h5>昵称</h5>
<p>朋友们都称呼我为咩阿，或者Lorre。</br>
为什么是Lorre呢，仅仅是因为跟我原名的粤语发音很像233，入职后就一路用下来了，简单又好记。</p>
<h4>我喜欢</h4>
<p>编程、看电影、打游戏🎮。</p>
<p>双人成行买下来后一直无法通关，实属无奈，望有人陪我通关，男酮也不是不行(bushi)。</p>
<h4>头像</h4>
<p><img style="border-radius: 50%; width:40px;height:40px;display:inline-block" src="/img/faces.jpeg" alt="">来自于我所喜爱的电影《听见涛声》。是一个再简单不过的故事了，但给我的感受却极深。</p>

<h4>藏身处</h4>
<ul style="padding-left:2em; user-select: auto;">
  <li>E-mail: lorre0322@foxmail.com</li>
  <li>Epic: Lorre0322</li>
  <li>Steam: Lorre_0322
  <ul>
    <li>怪物猎人</li>
    <li>小小梦魇</li>
    <li>饥荒</li>
  </ul>
  </li>
</ul>