<footer class="wrap">
	<ul class="list footer-list">
		<audio id="bg-audio" class="play" src="/music/Luv pt2.mp3"  preload="autoplay" loop="loop" ></audio>
		<li>🌿悬铃木的精神世界</li>
		<li id="play-audio">播放</li>
		<li id="">
			<a href="/atom.xml">订阅</a>
		</li>
		<li id="">
			<a href="https://travellings.link " target="_blank" rel="noopener noreferrer">开往</a>
		</li>
		<li id="toggle-dark">灯</li>
	</ul>
</footer>
