<div class="intro">
  <p>♪</p>
  <p>
    今天我感到非常烦闷</br>
    我想念你
  </p>
  <p>
    我想起夜幕降临的时候</br>
    和你踏着星光走去
  </p>
  <p>
    想起了灯光照着树叶的时候</br>
    踏着婆娑的灯影走去
  </p>
  <p>
    想起了欲语又塞的时候</br>
    和你在一起
  </p>
  <p>
    你是我的战友</br>
    因此我想念你
  </p>
  <p>
    当我跨过沉沦的一切</br>
    向着永恒开战的时候</br>
    你是我的军旗
  </p>


</div>